/* styles.css */

.hr-text {
  transition: all 0.5s;
}

.tooltip > .tooltip-inner {
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
}

.tooltip > .tooltip-arrow {
  border-top: 5px solid #062e56;
}
